@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  background: black;
}

body {
  background: linear-gradient(-145deg, #eee, #333 70%, #000) no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

#telefone {
  position: absolute;
  top: 49.8%;
  left: 50%;
  height: 617px;
  width: 316px;
  background: url('../img/frame-iphone.png') no-repeat;
  transform: translate(-50%, -50%);
}

#tela {
  position: relative;
  top: 80px;
  left: 22px;
  width: 267px;
  height: 472px;
  overflow-x: hidden
}

#redes-sociais {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  padding-top: 72px;
}

#redes-sociais a {
  width: 2vw;
  box-sizing: border-box;
}

#redes-sociais img {
  width: 50px;
  margin: 8px 12px;
  border-radius: 50%;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.400);
  box-sizing: border-box;
}

#redes-sociais img:hover {
  border: 2px solid #eee;
  transform: translate(15%, -15%);
  box-shadow: 4px 8px rgba(0, 0, 0, 0.600);
  transition: transform .2s, border .1s;
}