@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  background: black;
}

body {
  background: url('../img/fundo-madeira.jpg') no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
}

main {
  position: relative;
  height: 100vh;
}

#telefone {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 617px;
  width: 316px;
  background: url('../img/frame-iphone.png') no-repeat;
  transform: translate(-50%, -50%);
}

#tela {
  position: relative;
  top: 80px;
  left: 22px;
  width: 269px;
  height: 472px;
}

#redes-sociais {
  margin-right: 12px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

#redes-sociais img {
  width: 50px;
  margin: 4px;
  border-radius: 50%;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.400);
  box-sizing: border-box;
}

#redes-sociais img:hover {
  border: 2px solid gray;
  transform: translate(-15%, -15%);
  box-shadow: 4px 8px rgba(0, 0, 0, 0.600);
  transition: transform .4s, border .2s;
}